go 1.19

use (
	service
	server
	client
	server/tmp/yj
	server/tmp/yj
	server/tmp/yj
	server/tmp/yj
	server/tmp/yj
	server/tmp/yj
	server/tmp/yj
	server/tmp/anonymous
	server/tmp/anonymous
	server/tmp/anonymous
	server/tmp/anonymous
	server/tmp/anonymous
	server/tmp/anonymous
	server/tmp/anonymous
)